//color

$color-primary: #EFEFF4;
$color-pink: #EDA3B5;
$color-light-grey: #d1d1d6;
$color-dark-grey: #57575c;


// fonts

$font-display: 'Playfair Display', serif;
$font-primary: 'Mulish', sans-serif;

//utilities

.mg-r {
    margin-right: 2.4rem;
}

.mg-t {
    margin-top: 2.4rem;
}

